<?xml version="1.0" encoding="utf-8" ?>
<!--第一行表示xml的文档声明 -->
<configuration>
  <appSettings>

  </appSettings>
  <Configuration id="fdsf">

  </Configuration>

  <!-- xml标签有开始必须有结束，即便实在没有也必须有一个自关闭标签作为结束。 -->
  <connectionStrings/>

</configuration>

<!--<head>
  <title>fdsaf</title>
</head>-->
<!-- 单纯的一个xml文档是没有任何预定义标签的，所有用到的标签都需要自己去写。-->
<!--<name></name>
<age>
  <hello>fdsf</hello>
  
</age>-->